[Desktop Entry]
Name=ROX-Memo
Comment=Simple alarm clock
Comment[pl]=Prosty budzik
Exec=/usr/lib/rox/Memo/AppRun
Icon=rox-Memo
Terminal=false
Type=Application
Categories=GTK;Utility;
# vi: encoding=utf-8
